@model SearchHolm.Models.Entity.Consultation

<div class="call-to-action bg-fixed bg-h mt-4 consult-form v1" style="background-image: url(~/Template/images/bg/call-to-action-bg.jpg)">
    <div class="overlay op-7"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 text-center">
                <div class="action-title sm-center">
                    <h2>Get a Free Consultation</h2>
                    <p>With no pressure to commit and no money collected until we sell your home, why not schedule your free consultation and let our expert knowledge and resources help you realize your goal of buying or selling a home.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <form asp-action="sentMessage" asp-controller="Home" method="post">
                <div class="row consult-form">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-group">
                            <input name="Name" type="text" class="form-control filter-input" placeholder="Your name">
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-group">
                            <input name="Email" type="text" class="form-control filter-input" placeholder="Your mail">
                            <span class="text-danger" asp-validation-for="@Model.Email"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-group">
                            <input name="PhoneNumber" type="text" class="form-control filter-input" placeholder="Your phone number">
                            <span class="text-danger" asp-validation-for="@Model.PhoneNumber"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-group">
                            <select name="CityId" class="listing-input hero__form-input  form-control custom-select">
                                @foreach (var item in ViewData["cities"] as List<SearchHolm.Models.Entity.City>)
                                {
                                    <option value="@item.Id">@item.CityName,@item.state.StateName </option>
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.CityId"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="form-group">
                            <select name="MeettingTypeId" class="listing-input hero__form-input  form-control custom-select">
                                @foreach (var item in ViewData["meetingTypes"] as List<SearchHolm.Models.Entity.MeettingType>)
                                {
                                    <option value="@item.Id">@item.MeetingTypeName </option>
                                }
                                <option>Others </option>
                            </select>
                            <span class="text-danger" asp-validation-for="@Model.MeettingTypeId"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <button type="submit" class="btn v8">Send Message</button>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(ViewBag.success))
                    {
                        <p class="text-danger">@ViewBag.success</p>
                    }
                </div>
            </form>

        </div>

    </div>
</div>